name: PHPUnit Testing

on:
  push:
    branches:
      - main
      - master
      - 'release/**'
    # Only run if PHP-related files changed.
    paths:
      - '.github/workflows/phpunit-test.yml'
      - '**.php'
      - 'composer.json'
      - 'composer.lock'
      - 'phpunit.xml.dist'
      - 'bin/foldyy'
  pull_request:
    branches:
      - main
      - master
      - 'release/**'
      - 'feature/**'
    # Only run if PHP-related files changed.
    paths:
      - '.github/workflows/phpunit-test.yml'
      - '**.php'
      - 'composer.json'
      - 'composer.lock'
      - 'phpunit.xml.dist'
      - 'bin/foldyy'
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  phpunit-test:
    name: PHP ${{ matrix.php }}${{ matrix.experimental && ' (experimental)' || '' }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental == true }}
    timeout-minutes: 10

    strategy:
      fail-fast: true
      matrix:
        php:
          - '7.4'
          - '8.2'
        include:
          - php: '8.4'
            experimental: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          tools: composer
          php-version: ${{ matrix.php }}
          coverage: pcov
          ini-values: pcov.directory=.,pcov.exclude=~(vendor|tests)~

      - name: Install PHP dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: '--prefer-dist --no-interaction'

      - name: Make Composer packages available globally
        run: |
          echo "${PWD}/vendor/bin" >> $GITHUB_PATH

      - name: Run PHPUnit tests
        run: vendor/bin/phpunit --coverage-clover=coverage.xml

      - name: Upload coverage reports
        if: matrix.php == '8.2'
        uses: codecov/codecov-action@v4
        with:
          files: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
